.hover-blue-btn {
  background-color: #0d6efd !important;
  /* blue */
  color: white !important;
}

.hover-blue-btn:hover {
  background-color: #0d6efd !important;
  /* stays blue only on hover */
  color: white !important;
}
